<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/">
    <script type="text/javascript" src="../index.js" defer></script>
    <link rel="stylesheet" href="./styles/style.css" />
  </head>

  <%- include('../partials/google_analytics.ejs') %>

  <body class="antialiased">
    <div class="container mx-auto px-4 flex flex-col justify-center items-center">
      <%- include('../partials/navbar.ejs') %>
      <div class="w-2/3 md:w-1/2 flex flex-col items-center space-y-4 pt-4">
        <div class="w-32 h-32 md:w-48 md:h-48 rounded-full border-2 flex items-center justify-center">Profile Pic</div>
        <div class="flex flex-col items-center text-center">
          <div class="font-semibold"><%= handle %></div>
          <div class="font-semibold text-red-500"><%= did %></div>
          <div class="h-8"></div>
          <form id="form1" method="post" action="/follow" class="space-y-1 text-center">
            <label>Put your handle to follow this profile</label></br>
            <label for="team_name" class="font-bold">@</label>
            <input type="text" name="fhandle" class="border border-gray-300 px-2 py-1 rounded-lg">
            <input type="hidden" name="phandle" value= <%= handle %> />
            <button type="submit" class="rounded-lg bg-blue-500 px-2 py-2 text-gray-200">Follow</button>
          </form>
        </div>
      </div>
      <div class="flex flex-row space-x-4 justify-between h-1/3 pt-4">
        <div class="flex flex-col">
          <p class="text-lg font-semibold"> Following</p>
          <div><%= followingsCount %></div>
          <div class="flex flex-col overflow-y-scroll w-full">
            <table class="text-left">
              <thead>
              </thead>
              <tbody>
                <% followings.forEach(function(following) { %>
                <tr>
                  <td><%= following %></td>
                </tr>
                <% });
                %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="flex flex-col">
          <p class="text-lg font-semibold"> Followers<p>
          <div><%= followersCount %></div>
          <div class="flex flex-col overflow-y-scroll w-full">
            <table class="text-left">
              <thead>
              </thead>
              <tbody>
                <% followers.forEach(function(follower) { %>
                <tr>
                  <td><%= follower %></td>
                </tr>
                <% });
                %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <%- include('../partials/shovel.ejs') %>
    </div>
  </body>
</html>
