<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/">
    <script type="text/javascript" src="../index.js" defer></script>
    <link rel="stylesheet" href="./styles/style.css" />
  </head>

  <%- include('../partials/google_analytics.ejs') %>

  <body class="antialiased">
    <div class="h-screen flex flex-col justify-between items-center pb-4">
    <%- include('../partials/navbar.ejs') %>
    <div class="relative container mx-auto px-4 flex flex-col justify-center items-center">
      <div class="absolute top-0 -left-4 w-48 h-48 bg-purple-300 rounded-full mix-blend-multiply filter blur-xl opacity-50 animate-blob"></div>
      <div class="absolute bottom-0 -right-4 w-48 h-48 bg-yellow-300 rounded-full mix-blend-multiply filter blur-xl opacity-50"></div>
      <div class="absolute top-10 -left-8 w-48 h-48 bg-pink-300 rounded-full mix-blend-multiply filter blur-xl opacity-50 animate-blob animation-delay-4000"></div>
      <div class="w-1/2 flex flex-col items-center space-y-2 p-2 border-2 border-gray-800 rounded-lg bg-orange-50 drop-shadow-md">
        <div class="w-48 h-48 rounded-lg border-2 border-gray-400 flex items-center justify-center bg-white">Profile Pic</div>
        <div class="flex flex-col items-center text-center">
          <div class="font-semibold"><%= "handle" %></div>
          <div class="font-medium text-red-600 break-all"><%= "did" %></div>
        </div>
      </div>
    </div>
    <%- include('../partials/shovel.ejs') %>
  </div>
  </body>
</html>
