<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="./styles/style.css" />
  <script src="https://cdn.jsdelivr.net/gh/papnkukn/qrcode-svg/dist/qrcode.min.js"></script>
  <script src="https://accounts.google.com/gsi/client"></script>
  <link rel="icon" href="/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rolodex App</title>

</head>

<%- include('../partials/google_analytics.ejs') %>

  <body class="antialiased bg-base-100">
    <script type="module">
      import { account, portOldContacts, addContact, getContacts, getContactByUID, editContact, deleteContact, filterContacts,
        getProfile, updateProfile, signout, importContacts, appleCredsPresent, importGoogleContacts, downloadContactsDataLocally, getMembers, uint8arrays} from '/odd.js';
      window.addContact = addContact;
      window.getContacts = getContacts;
      window.editContact = editContact;
      window.deleteContact = deleteContact;
      window.filterContacts = filterContacts;
      window.updateProfile = updateProfile;
      window.signout = signout;
      window.importContacts = importContacts;
      window.importGoogleContacts = importGoogleContacts;
      window.downloadContactsDataLocally = downloadContactsDataLocally;
      window.getProfile = getProfile;
      window.getContactByUID = getContactByUID;
      window.appleCredsPresent = appleCredsPresent;
      window.getMembers = getMembers;
      window.uint8arrays = uint8arrays;

      var session = await account.activeSession();
      if (session == false) {
        window.location.href = '/home';
      }
      if (mixpanel){ 
        mixpanel.identify(await shovel.agent.accountDID())
      }

      let members = await window.getMembers()
      console.log("memberList...", members)

      window.refreshContacts = function(){
        window.getContacts().then((result) => {
          if (members.memberList) {
            result.contactList = (members.memberList).concat(result.contactList)
          }
          document.querySelector("contact-table").contacts = result
        })
      }
      refreshContacts();
      
      window.refreshProfile = function(){
        window.getProfile().then((result) => {
        console.log("result: ", result)
        document.getElementById("handle").innerHTML = result.handle
        document.getElementById("name").innerHTML = "Name: " + result.name
        document.getElementById("tags").innerHTML = '';
        for (let tag of result.tags) {
          if (tag == '') continue;
          document.getElementById("tags").innerHTML += `<span class="badge badge-neutral">${tag}</span>`;
        }
        document.getElementById("profile-name").value = result.name
        document.getElementById("profile-tags").value = result.tags || []
        document.getElementById("profile-text").value = result.text || ''
        document.querySelector(".avatar > div > span").innerHTML = result.handle.charAt(0).toUpperCase()
      })}
      refreshProfile();

      window.portOldContacts = portOldContacts

      account.handshakeApprover()
    </script>

    <div class="container mx-auto h-screen flex flex-col justify-evenly items-center">
      <div class="w-full h-5/6 text-center md:flex md:flex-row md:justify-evenly overflow-x-hidden">

        <div class="md:relative md:w-1/4 md:space-y-2 md:rounded-lg">
          <div class="max-md:drawer ">
            <input id="my-drawer" type="checkbox" class="drawer-toggle" />      
            <div class="max-md:drawer-content">
                <div class="max-md:px-2 flex justify-between"> 
                    <label for="my-drawer" class="md:hidden btn btn-ghost drawer-button">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="33" height="33" viewBox="0 0 50 50">
                            <path d="M 3 8 A 2.0002 2.0002 0 1 0 3 12 L 47 12 A 2.0002 2.0002 0 1 0 47 8 L 3 8 z M 3 23 A 2.0002 2.0002 0 1 0 3 27 L 47 27 A 2.0002 2.0002 0 1 0 47 23 L 3 23 z M 3 38 A 2.0002 2.0002 0 1 0 3 42 L 47 42 A 2.0002 2.0002 0 1 0 47 38 L 3 38 z"></path>
                        </svg>
                    </label>
                    
                </div>
            </div>
            <div class="max-md:drawer-side z-10">
              <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
              <ul class="max-md:menu max-md:p-4 max-md:w-80 max-md:min-h-full max-md:bg-base-200 max-md:text-base-content block">
                <%- include('../partials/app/sidebar.ejs') %>
              </ul>
            </div>
          </div>
        </div>
        
        

        <div class=" md:w-3/4 space-y-2 overflow-y-auto pt-2">  
          <div class="flex justify-evenly ">          
            <%- include('../partials/app/search_bar.ejs') %>
            <%- include('../partials/app/contact_add.ejs') %>

          </div>
          
          <div class="flex flex-col justify-center max-h-full py-4 relative">
            <%- include('../partials/app/contact_list.ejs') %>
          </div>
        </div>

      </div>
      <%- include('../partials/shovel.ejs') %>
    </div>
  </body>
</html>