<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="./styles/style.css" />
  <script src="https://cdn.jsdelivr.net/gh/papnkukn/qrcode-svg/dist/qrcode.min.js"></script>
</head>

<%- include('../partials/google_analytics.ejs') %>

  <body class="antialiased bg-base-100">
    <script type="module">
      import { getProfile, updateProfile, getContacts, addContact, editContact, signout, deleteContact, getProgram, getSession, producerChallengeProcessor, filterContacts, renderTable, generateRecoveryKit } from '/dist/odd.js';
      window.updateProfile = updateProfile;
      window.addContact = addContact;
      window.editContact = editContact;
      window.deleteContact = deleteContact;
      window.signout = signout;
      window.producerChallengeProcessor = producerChallengeProcessor;
      window.getContacts = getContacts;
      window.filterContacts = filterContacts;
      window.renderTable = renderTable;
      window.generateRecoveryKit = generateRecoveryKit;

      var program = await getProgram();
      var session = await getSession(program);
      if (session === undefined) {
        window.location.href = '/home';
      } else {
        getProfile(globalThis.oddjs).then((result) => {
          document.getElementById("handle").innerHTML = result.handle
          document.getElementById("name").innerHTML = "Name: " + result.name
          document.getElementById("formname").value = result.name
          document.querySelector(".avatar > div > span").innerHTML = result.handle.charAt(0).toUpperCase()
        })
        getContacts(globalThis.oddjs).then((result) => {
          document.querySelector("#contact-list-table > table").appendChild(renderTable(result))
        })
        
        window.setContactEditForm = function (id, name){
          document.getElementById("edit-contact-name").value = name
          document.getElementById("edit-contact-id").value = id
        }

        console.log("session: ", session)
        document.querySelector("#link_device_modal > .modal-box > .modal-action > div").innerHTML = `${window.location.origin}/link?username=${session.username}`
        var qrcode = new QRCode({
          content: `${window.location.origin}/link?username=${session.username}`,
          container: "svg-viewbox", //Responsive use
          join: true //Crisp rendering and 4-5x reduced file size
        });
        console.log("generating svg")
        var svg = qrcode.svg();
        document.querySelector("#link_device_modal > .modal-box > .modal-action > .qr").innerHTML = svg;
        
        var producer = await program.auth.accountProducer(session.username)
        console.log("first producer: ", producer)
        producer.on("challenge", challenge => {
          window.challenge = challenge;
        })
        producer.on("link", ({ approved }) => {
          if (approved) console.log("Link device successfully")
        })
      }
    </script>

    <div class="container mx-auto px-4 h-screen flex flex-col justify-evenly items-center">
      <div class="w-full h-4/5 p-4 text-center flex flex-row justify-evenly">
        <div class="relative bg-base-200 w-1/4 py-4 space-y-2 rounded-lg">
          <%- include('../partials/app/sidebar.ejs') %>
        </div>
        <div class="w-3/4 py-4 space-y-2 overflow-hidden">
          <div class="flex justify-evenly">
            <%- include('../partials/app/search_bar.ejs') %>
            <%- include('../partials/app/contact_add.ejs') %>
          </div>
          <div class="flex justify-center max-h-full py-4 overflow-y-auto">
            <%- include('../partials/app/contact_list.ejs') %>
          </div>
        </div>
      </div>
      <%- include('../partials/shovel.ejs') %>
    </div>
  </body>

</html>