<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="./styles/style.css" />
  <script src="https://cdn.jsdelivr.net/gh/papnkukn/qrcode-svg/dist/qrcode.min.js"></script>
  <script src="https://accounts.google.com/gsi/client"></script>
  <link rel="icon" href="/favicon.ico">
</head>

<%- include('../partials/google_analytics.ejs') %>

  <body class="antialiased bg-base-100">
    <script type="module">
      import { account, getContactForRelate, addConnection } from '/odd.js';

      var session = await account.activeSession();
      if (session == false) {
        window.location.href = '/home';
      }

      var agentHandle = await shovel.agent.handle()

      // TODO - fix channel - "(broker-handle)-(approver-handle)-relationship"
      // TODO - dial broker address 
      const approver = await shovel.agent.actAsRelationshipApprover("<%= address %>", "<%= broker %>", `${agentHandle}`)
  
      shovel.agent.approver.notification.addEventListener("challengeRecieved", async (challengeEvent) => {
        console.log(challengeEvent.detail)
        await addConnection(challengeEvent.detail.message.challenge.person)

        let self = await getContactForRelate()
        // TODO Implementing auto-confim - check challenge to implement reject
        await challengeEvent.detail.confirm({person: self})
      })
    </script>

    <div class="container mx-auto px-4 h-screen flex flex-col justify-evenly items-center">
      <div class="w-full h-5/6 p-4 text-center flex flex-row justify-evenly">
        <div class="relative bg-base-200 w-1/4 py-4 space-y-2 rounded-lg">
          <%- include('../partials/app/sidebar.ejs') %>
        </div>
        <div class="w-3/4 py-4 space-y-2 overflow-hidden">
          <div class="flex justify-evenly">
            <%- include('../partials/app/search_bar.ejs') %>
            <%- include('../partials/app/contact_add.ejs') %>
          </div>
          <div class="flex flex-col justify-center max-h-full py-4 overflow-y-auto">
            <%- include('../partials/app/contact_list.ejs') %>
          </div>
        </div>
      </div>
      <%- include('../partials/shovel.ejs') %>
    </div>
  </body>

</html>
