<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="icon" href="/favicon.ico">
    <script src="https://cdn.jsdelivr.net/gh/papnkukn/qrcode-svg/dist/qrcode.min.js"></script>
    <title>Rolodex App</title>
  </head>

  <%- include('../partials/google_analytics.ejs') %>

  <body class="antialiased bg-base-100">
    <script type="module">
      import { account, farcasterClient, farcasterSignup, getContactByUID } from '/odd.js';
      var communityDID = '<%- communityDID %>'
      var communityName = '<%- communityName %>'

      var session = await account.activeSession();
      if (session) {
        if (mixpanel){ 
          mixpanel.identify(await shovel.agent.accountDID())
        }
        
        let community = await getContactByUID('DCN:'+ communityDID)
        if (community) {
          window.location.href = `/directory/${communityDID}?name=${communityName}`
        } else {
          window.location.href = `/community/${communityDID}/form?name=${communityName}`;
        }
      }

      window.finishLoading = function(){
        document.querySelector(".loading").classList.add("hidden");
        document.querySelector("#input-forms").classList.remove("hidden");
      }

      window.showLoading = function(){
        document.querySelector(".loading").classList.remove("hidden");
        document.querySelector("#input-forms").classList.add("hidden");
      }

     window.startFarcasterSignup = async function(){
      const agentDID = await account.agent.DID()
      const channel = await farcasterClient.createChannel({
        siweUri: window.location.origin,
        domain: window.location.host,
        requestId: agentDID
      });

      const url = channel.data.url
      var qrcode = new QRCode({content: url, container: "svg-viewbox", join: true});
      document.querySelector("#signup_by_farcaster > .modal-box > .modal-action > .qr").innerHTML = qrcode.svg();

      signup_by_farcaster.showModal()

      farcasterClient.watchStatus({
        channelToken: channel.data.channelToken,
      }).then((status) => {
        console.log(status)
        signup_by_farcaster.close()
        window.showLoading()
        farcasterClient.verifySignInMessage({
         nonce: status.data.nonce,
         domain: window.location.host,
         message: status.data.message,
         signature: status.data.signature
        }).then(async (response) => {
         console.log(response)
         if (response.success) {
           console.log(`did:pkh:eip155:${response.data.chainId}:${response.data.address}`, status.data.username, agentDID, status.data.message, status.data.signature)
           let accountDID = `did:pkh:eip155:${response.data.chainId}:${response.data.address}`
           let profileData = { fid: status.data.fid, handle: status.data.username, name: status.data.displayName, text: status.data.bio, tags: [], pfpUrl: status.data.pfpUrl}
           console.log("farcaster message", status.data.message);
           await farcasterSignup(accountDID, status.data.message, status.data.signature, profileData, status.data.fid)
           //todo: make the redirect dynamic
           window.location.href = `/community/${communityDID}/form?name=${communityName}`
         }
        })
      })

       window.farcasterClient = farcasterClient
       window.channel = channel
     }
      window.finishLoading()
    </script>

    <div class="container mx-auto px-4 h-screen flex flex-col justify-evenly items-center">
      <div class="p-4 text-center">
        <div class="text-7xl font-bold tracking-tight leading-normal underline decoration-red-500 decoration-8">Rolodex</div>
        <div class="text-3xl font-semibold tracking-tight leading-normal">Your internet-native contact app</div>
      </div>
      
      <div class="text-xl font-medium tracking-tight leading-normal">You have been invited to join <span class="font-semibold text-2xl text-blue-500"><%= communityName %></span>'s Rolodex</div>
      <div class="loading loading-infinity loading-lg"></div>
      
      <div id="input-forms" class="hidden flex flex-col space-y-4 p-8 rounded-lg">
        <button type="submit" class="btn btn-outline btn-sm" onclick="startFarcasterSignup()">
          <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M18.24.24H5.76A5.76 5.76 0 0 0 0 6v12a5.76 5.76 0 0 0 5.76 5.76h12.48A5.76 5.76 0 0 0 24 18V6A5.76 5.76 0 0 0 18.24.24m.816 17.166v.504a.49.49 0 0 1 .543.48v.568h-5.143v-.569A.49.49 0 0 1 15 17.91v-.504c0-.22.153-.402.358-.458l-.01-4.364c-.158-1.737-1.64-3.098-3.443-3.098c-1.804 0-3.285 1.361-3.443 3.098l-.01 4.358c.228.042.532.208.54.464v.504a.49.49 0 0 1 .543.48v.568H4.392v-.569a.49.49 0 0 1 .543-.479v-.504c0-.253.201-.454.454-.472V9.039h-.49l-.61-2.031H6.93V5.042h9.95v1.966h2.822l-.61 2.03h-.49v7.896c.252.017.453.22.453.472"/></svg>
          Sign-in with Farcaster
        </button>
      </div>
      
      <dialog id="signup_by_farcaster" class="modal">
        <div class="modal-box">
          <div class="text-center font-lg">Sign in with Farcaster</div>
          <div class="text-center text-sm">Scan with your phone's camera to </br>continue.</div>
          <div class="modal-action flex flex-col justify-center items-center space-y-2">
            <div class="qr w-64 h-64"></div>
          </div>
        </div>
      </dialog>
      <%- include('../partials/shovel.ejs') %>
    </div>
  </body>
</html>
