<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="icon" href="/favicon.ico">
    <script src="https://cdn.jsdelivr.net/gh/papnkukn/qrcode-svg/dist/qrcode.min.js"></script>
  </head>

  <%- include('../partials/google_analytics.ejs') %>

  <body class="antialiased bg-base-100">
    <script type="module">      
      import { getProfile, v1UpdateProfile } from '/odd.js';

      // show values from farcaster
      getProfile().then((result) => {
        console.log(result)
        document.querySelector("#farcaster-name").innerHTML = result.name
        document.querySelector("#farcaster-handle").innerHTML = result.handle
        document.querySelector("#farcaster-bio").innerHTML = result.text
      })

      window.showLoading = function(){
        document.querySelector(".loading").classList.remove("hidden");
        document.querySelector("#input-forms").classList.add("hidden");
      }

      //Flips the colour of option pills and stores the resposes of respective question
      var lookingFor = []
      var interestedIn = []
      var expertise = []
      const badges = [...document.querySelectorAll('#color-changing-badge')];

      badges.forEach((badge) =>
        badge.addEventListener('click', () => {
          let isClicked = badge.getAttribute('data-is-clicked')
          let question = badge.getAttribute('question')
          if (isClicked === "false") {
            badge.classList.remove('badge-ghost');
            badge.classList.add('badge-neutral');
            badge.setAttribute('data-is-clicked', true)
            switch (question){
              case 'lookingFor':
                lookingFor.push(badge.innerHTML)
                break;
              case 'interestedIn':
                interestedIn.push(badge.innerHTML)
                break;
              case 'expertise':
                expertise.push(badge.innerHTML)
                break;
              default:
                console.log("Store for Question not defined")
            }
            console.log("looking for :", lookingFor, "interestedIn :", interestedIn, "expertise :", expertise)
          } else {
            badge.classList.remove('badge-neutral');
            badge.classList.add('badge-ghost');
            badge.setAttribute('data-is-clicked', false)
            let index
            switch (question){
              case 'lookingFor':
                index = lookingFor.indexOf(badge.innerHTML)
                lookingFor = lookingFor.splice(index, 1)
                break;
              case 'interestedIn':
                index = interestedIn.indexOf(badge.innerHTML)
                interestedIn = interestedIn.splice(index, 1)
                break;
              case 'expertise':
                index = expertise.indexOf(badge.innerHTML)
                expertise = expertise.splice(index, 1)
                break;
              default:
                console.log("Store for Question not defined")
            }
            console.log("looking for :", lookingFor, "interestedIn :", interestedIn, "expertise :", expertise)
          }
        })
      )
      // add selected tags to profile on save
      window.addSelectedTagsToProfile = async function(){
        await v1UpdateProfile({lookingFor: lookingFor, interestedIn: interestedIn, expertise: expertise})
        
        let profile = await getProfile()
        console.log("Profile after save :", profile)
      }
    </script>

    <div class="container mx-auto px-4 h-screen flex flex-col justify-evenly items-center">
      <div class="flex flex-row h-3/4 w-full">
        <%/* farcaster info */%>
        <div class="flex flex-col gap-4 p-8 text-center justify-center place-content-center items-center">
          <div>Info from Farcaster</div>
          <div class="bg-base-200 p-4 w-2/3 text-left">
            <div class="font-semibold">Name : <span id="farcaster-name" class="font-normal"></span></div>
            <div class="font-semibold">Handle : <span id="farcaster-handle" class="font-normal"></span></div>
            <div class="font-semibold">Bio : <span id="farcaster-bio" class="font-normal"></span></div>
          </div>
          <div>To Introduce you to the right members <span class="uppercase text-semibold font-lg text-blue-500"><%= communityName %></span> wants to know you a bit better</div>
        </div>
        <%/* divider */%>
        <div class="divider divider-horizontal"></div>
        <%/* form half */%>
        <div class="flex flex-col justify-evenly place-content-center w-1/2 p-8">
          <div>
            <div>Looking For</div>
            <% for(var i=0; i<options.lookingFor.length; i++) {%>
              <div id="color-changing-badge" class="badge badge-md badge-ghost cursor-pointer" data-is-clicked="false" question="lookingFor"> <%= options.lookingFor[i] %></div>
            <% } %>
          </div>
          <div>
           <div>Interested In</div>
            <% for(var i=0; i<options.interestedIn.length; i++) {%>
              <div id="color-changing-badge" class="badge badge-md badge-ghost cursor-pointer" data-is-clicked="false" question="interestedIn"> <%= options.interestedIn[i] %></div>
            <% } %>
          </div>
          <div>
            <div>Expertise</div>
            <% for(var i=0; i<options.expertise.length; i++) {%>
              <div id="color-changing-badge" class="badge badge-md badge-ghost cursor-pointer" data-is-clicked="false" question="expertise"> <%= options.expertise[i] %></div>
            <% } %>
          </div>
          
          <%/* submit button */%>
          <div class="flex justify-center">
            <button class="btn" onclick="addSelectedTagsToProfile()"> Submit </button>
          </div>
        </div>  
      </div>
      
      <div class="loading loading-infinity loading-lg hidden"></div>
      
      <%- include('../partials/shovel.ejs') %>
    </div>
  </body>
</html>
