<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="./styles/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  </head>
  
  <%- include('../partials/google_analytics') %>
  
  <body class="antialiased">
    <div class="container mx-auto px-4 h-screen flex flex-col justify-center items-center">
      <div class="w-1/2 flex flex-col justify-center text-center md-8">
        <div class="text-lg md:text-xl font-semibold"><%= profile["name"] %> </div>
        <div class="text-sm md:text-base text-blue-600">@<%= profile["username"] %></div>
        <div class="text-sm md:text-base text-red-600"><%= keypair %></div>
        <div class="md:text-lg"><%= profile["description"] %></div>
      </div>
      <div class="flex flex-row space-x-4 justify-between h-1/3">
        <div class="flex flex-col">
          <p class="text-lg font-semibold"> Following</p>
          <div><%= profile["public_metrics"]["following_count"] %></div>
          <div class="flex flex-col overflow-y-scroll w-full">
            <table class="text-left">
              <thead>
                <tr class="sticky top-0 bg-gray-700 text-gray-200">
                  <th>Name</th>
                  <th>Handle</th>
                </tr>
              </thead>
              <tbody>
                <% followings.forEach(function(following) { %>
                <tr>
                  <td><%= following.name %></td>
                  <td><%= following.username %></td>
                </tr>
                <% }); 
                %> 
              </tbody>
            </table>
          </div>
        </div>
        <div class="flex flex-col">
          <p class="text-lg font-semibold"> Followers<p>
          <div><%= profile["public_metrics"]["followers_count"] %></div>
          <div class="flex flex-col overflow-y-scroll w-full">
            <table class="text-left">
              <thead>
                <tr class="sticky top-0 bg-gray-700 text-gray-200">
                  <th>Name</th>
                  <th>Handle</th>
                </tr>
              </thead>
              <tbody>
                <% followers.forEach(function(follower) { %>
                <tr>
                  <td><%= follower.name %></td>
                  <td><%= follower.username %></td>
                </tr>
                <% }); 
                %> 
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <form method="post" action="/download" class="mt-4">
          <input type="hidden" name="handle" value="<%= profile["username"] %>" >
          <button type="submit" class="rounded-lg bg-blue-500 px-2 py-1 text-xl text-gray-200"><i class="fa-solid fa-download"></i> Download</button>
        </form>
        <div class="text-xs font-light mt-1">We do not save a version of this file. In fact, we don’t save any of your data.
        </div>
        <%- include('../partials/shovel.ejs') %>
    </div>
  </body>
</html>
